.container
{
    width: 100vw;
    height: 100vh;
    background-color: #8ec5fc;
    /* background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(udaipur.png);

    
  
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}
.card{
    width: 400px;
    height: 600px;
    border-radius:30px ;
    background-color: white;
    display:flex ;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}
.card img {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 35%;
    width: 100%;
}
.card p {
    /* padding-left: 16px;
    padding-right: 16px; */
     width: 75%;
    text-align: center  ;
}
#hello{
    width: 80%;
    height: 10%;
    background-color:aqua;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    
}
#button{
    width: 80%;
    height: 10%;
    border-radius: 10px;
    background-color: rgb(32, 32, 73);
    color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    /* text-decoration: none;
    color: rgb(38, 22, 22);
    font-weight: bolder;
    font-size: large; */

}
.card a {
    text-decoration: none;
    color: rgb(38, 22, 22);
    font-weight: bolder;
    font-size: large;
}
#hello{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftbox img{
    width: 25px;
    height: 50px;
    border-radius: 15px;
    margin-left: 12px;
    

}
.leftbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
#right a{
    color: blue;
    margin-right: 12px;


}


@media (max-width:310px) {
    #hello {
        display: flex;
        flex-direction: row;
        background-color: bisque;
        
    }
  
}
@media (max-width:200px)
{
    #hello a {
        font-size: 10px;
    }
}
