* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.box {
   width: 310px;
   height: 510px; 
   background-color: white;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px;
   gap: 20px;
}
.box img {
    height: 63% ;
    border-radius: 25px;
}
.box h2{
    font-weight: bold;
    font-size: 1.2rem;
}
.box p {
    font-size: 1.05rem;
    font-weight: bolder;
}