* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
   
  min-height: 45px;
  position: relative;
}
#brandname {
  font-size: 30px;
  color: white;
}

.navcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
 
}
#navlist {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style-type: none;
}
#navlist a {
  text-decoration: none;
  color: rgb(254, 255, 255);
}
.rightbox img {
    height: 250px;
    width: 250px;
    border-radius: 30px;
}
.rightbox{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-right: 15px;
}
.contentbox{
    padding: 15px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    gap:30px;
    border: 1px solid black;
    background-color: #594e4e;
    background-image: linear-gradient(62deg, #fffffff0 0%, #d5d5d5 100%);
    
}
.leftbox h2 , h3{
    font-size: 25px;
    color: rgba(125, 55, 18, 0.959);
}
.leftbox p {
    font-size: 20px;
}
.leftbox{
    color: rgb(74, 74, 66);
     display: flex;
    flex-direction: column;
    align-self: auto;
    gap: 52px;
   
}
.footer{
    width: 100%;
}