*{
    padding: 0;
    margin: 0;
}
/* .body{
    width: 100%;
    height: 100%;
} */

.container{
    background-color: rgb(53, 45, 45);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    grid-template-rows: repeat(2,0.5fr);
    gap: 1rem;
    /* padding: 1rem;
    margin: 1rem; */
    overflow: none;
}
.item{
    border: 2px solid black;
    background-color: rgb(227, 139, 139);
    margin: 1rem;

}
