* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;

}
.container{
    background-color: beige;
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 90vw;

}
